.btn1layout{
    float: right;
    font-family: cursive;
    font-size: 40px;
    color: black;
    border-color: rgb(224, 18, 18);
    width: 200px;
    height: 75px;
    margin: 30px;
}
.btn2layout{
    float: right;
    border-color: blue;
    color: blue;
    width: 150px;
    height: 50px;
    margin: 25px;
}
.buttons{
 display: flex; 
 align-content: center;
 justify-content: center;
}
body{
    transition: background-color 
    0.5s ease-in-out;
}

